# Arquivos do Sistema
.DS_Store
Thumbs.db
.env
.env.local

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Temporários
.temp/
.tmp/